{% extends "base.html" %}

{% block title %}
Finalização da Compra
{% endblock %}

{% block container %}
<ol class="breadcrumb">
  <li><a href="{% url 'index' %}">Início</a></li>
  <li><a href="{% url 'checkout:cart_item' %}">Carrinho de Orçamento</a></li>
  <!--<li><a href="{% url 'checkout:cart_item' %}">Carrinho de Compras</a></li>-->
  <li class="active">Finalização do Orçamento</li>
  <!--<li class="active">Finalização da Compra</li>-->
</ol>
<div class="page-header">
    <h1>Orçamento concluído com sucesso</h1>
    <!--<h1>Escolha a forma de pagamento</h1>-->
</div>
      <a href="{% url 'checkout:cart_item'%}" class="btn btn-primary">Enviar Orçamento</a>
      <!--<a href="{% url 'checkout:pagseguro_view' order.pk %}" class="btn btn-success">Pagar com Pagseguro</a> -->
  </div>
  <div class="col-md-4">
      <!--<a href="{% url 'checkout:paypal_view' order.pk %}" class="btn btn-primary">Pagar com Paypal</a> -->
  </div>
</div>
{% endblock %}
